<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>About</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link th:href="@{/css/about.css}" rel="stylesheet" />
<body>


    <!-- Just an image -->
    <nav class="navbar l-header navbar-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="../static/img/logo.png" th:src="@{img/logo.png}" width="50" height="50" alt="">
        </a>
        <div class="nav-menu" sec:authorize="isAnonymous()">
            <a class="nav-stuff" href="/" th:href="@{/}">Home</a>
            <a class="nav-stuff" href="/" th:href="@{/about}">About Us</a>
            <a class="nav-stuff" href="/" th:href="@{/hobbies}">The Hobby Lobby</a>
            <a class="nav-stuff" href="/" th:href="@{/login}" >Log In</a>
            <a class="nav-stuff" href="/" th:href="@{/register}" >Sign Up</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="nav-stuff" href="/" th:href="@{/}">Home</a>
            <a class="nav-stuff" href="/" th:href="@{/about}">About Us</a>
            <a class="nav-stuff" href="/" th:href="@{/hobbies}">The Hobby Lobby</a>
            <a class="nav-stuff" href="/" th:href="@{/dashboard}" >Welcome, <span sec:authentication="name"></span></a>
            <a class="nav-stuff" href="/" th:href="@{/logout}">Log Out</a>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">About Us</h1>
            <p class="lead">A web app, where users with common hobbies and interests  are able to connect with each other. 
Our Web app provides a common platform for users to share their thoughts through posts in the relevant hobby section helping them to interact and connect together.
</p>
        </div>
    </div>



    <div id="accordion" style="margin: auto; margin-top: 5vh;width: 80vw;">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        I want to explore a new hobby, is there a provision of suggesting a popular hobby?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Yes ! On the homepage, we have a fact of the day of every hobby, as well as a random hobby generator for when you can’t decide which hobby to choose!
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn card-header collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Can I see the hobbies of my connections?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Yes, just go to your connection’s profile and switch to the 'Hobbies' tab. It lists all the hobbies that your connection has registered for.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn card-header collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Can I start a conversation with my connection?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    As of this phase of the website, no. But we will soon be adding this feature so that you can connect better.
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<html>