<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>


    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="../static/img/logo.png" th:src="@{img/logo.png}" width="50" height="50" alt="">
        </a>
        <div sec:authorize="isAnonymous()">
            <a href="/" th:href="@{/login}"><button type="button" class="btn btn-primary">Log In</button></a>
            <a href="/" th:href="@{/register}"><button type="button" class="btn btn-primary">Sign Up</button></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a href="/" th:href="@{/dashboard/}" ><button type="button" class="btn btn-primary">Welcome, <span sec:authentication="name"></span></button></a>
            <a href="/" th:href="@{/logout}"><button type="button" class="btn btn-primary">Log Out</button></a>
        </div>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/" th:href="@{/about}">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/" th:href="@{/hobbies}">The Hobby Lobby</a>
        </li>


    </ul>


    <div style="margin-top: 5vh;">
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-posts-tab" data-toggle="pill" href="#pills-posts" role="tab"
                    aria-controls="pills-posts" aria-selected="false">Hobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-connections-tab" data-toggle="pill" href="#pills-connections" role="tab"
                    aria-controls="pills-connections" aria-selected="false">Connections</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 th:text="${user.name}" class="display-4">Fluid jumbotron</h1>
                    <p th:text="${user.username}" class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
                        parent.</p>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;margin: auto;" th:if="${user.username ne #authentication.getPrincipal().getUsername()}">       

                <div sec:authorize="isAuthenticated()" class="card-body" th:if="${isFollowing eq false}">
                    <p class="card-text">Want to know more about this user?</p>
                    <!-- <a th:href="@{/hobbies/{hobby_id}/register (hobby_id=${hobby.id})}" class="btn btn-primary">Register Now!</a> -->
                    <form method="post" th:action="@{/follow/{user_id} (user_id=${user.id})}">
                        <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
                                        <input type="submit" name="login-submit" id="login-submit"
                                        class="form-control btn btn-primary" value="Follow" />
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>

                <div sec:authorize="isAuthenticated()" class="card-body" th:if="${isFollowing eq true}">
                    <p class="card-text">Not sure of this connection?</p>
                    <!-- <a th:href="@{/hobbies/{hobby_id}/unregister (hobby_id=${hobby.id})}" class="btn btn-primary">Unregister</a> -->
                    <form method="post" th:action="@{/unfollow/{user_id} (user_id=${user.id})}">
                        <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
                                        <input type="submit" name="login-submit" id="login-submit"
                                        class="form-control btn btn-primary" value="Unfollow" />
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
          
            
        </div>


        <div class="tab-pane fade" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">


            <div style="width: 90vw; display: flex; flex-direction: row; flex-wrap: wrap; margin: auto; ">


                <div th:each="hobby : ${hobbies}" class="card" style="width: 18rem; margin: 10px">
                    <img class="card-img-top" src="./img/reading.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 th:text="${hobby.name}" class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a th:href="@{/hobbies/{hobby_id} (hobby_id=${hobby.id})}" class="btn btn-primary">Try this hobby</a>
                    </div>
                </div>


            </div>
            

        </div>


        <div class="tab-pane fade" id="pills-connections" role="tabpanel" aria-labelledby="pills-contact-tab"
            style="display: flex;flex-direction: row;flex-wrap: wrap;">

            <div th:each="connection : ${connections}" class="card">

                <div class="card-body">
                    <div th:text="${connection.name}"> This is some text within a card body.</div>
                    <a th:href="@{/dashboard/{user_id} (user_id=${connection.id})}"><button type="button" class="btn btn-primary" style="margin: 3px;">Go to Profile</button></a>
                </div>
                
            </div>
            
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<html>