<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Profile</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<body>


    <!-- Just an image -->
    <nav class="navbar l-header navbar-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="../static/img/logo.png" th:src="@{img/logo.png}" width="50" height="50" alt="">
        </a>
        <!--<h2 class="nav-heading">Welcome To HobbyLobby !</h2>-->
        <div class="nav-menu" sec:authorize="isAnonymous()">
            <a class="nav-stuff" href="/" th:href="@{/}">Home</a>
            <a class="nav-stuff" href="/" th:href="@{/about}">About Us</a>
            <a class="nav-stuff" href="/" th:href="@{/hobbies}">The Hobby Lobby</a>
            <a class="nav-stuff" href="/" th:href="@{/login}" >Log In</a>
            <a class="nav-stuff" href="/" th:href="@{/register}" >Sign Up</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="nav-stuff" href="/" th:href="@{/}">Home</a>
            <a class="nav-stuff" href="/" th:href="@{/about}">About Us</a>
            <a class="nav-stuff" href="/" th:href="@{/hobbies}">The Hobby Lobby</a>
            <a class="nav-stuff" href="/" th:href="@{/dashboard}" >Welcome, <span sec:authentication="name"></span></a>
            <a class="nav-stuff" href="/" th:href="@{/logout}">Log Out</a>
        </div>
    </nav>
    <br><br>

    <div style="margin-top: 5vh;">
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li>
                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="true" >Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-posts-tab" data-toggle="pill" href="#pills-posts" role="tab"
                    aria-controls="pills-posts" aria-selected="false">Hobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-connections-tab" data-toggle="pill" href="#pills-connections" role="tab"
                    aria-controls="pills-connections" aria-selected="false">Connections</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 th:text="${user.name}" class="display-4">Fluid jumbotron</h1>
                    <p th:text="${user.username}" class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
                        parent.</p>
                </div>
                <div class="container">
                    <div class="card" style="width: 85vw; margin: auto; margin-top: 10vh;">
                        <div class="card-header" style="color:black;">
                            Bio
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="color:black;" th:if="${#strings.isEmpty(user.bio)}">The user has no bio written yet.</p>
                            <p class="card-text" style="color:black;" th:unless="${#strings.isEmpty(user.bio)}" th:text="${user.bio}">The user has no bio written yet.</p>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="card text-center" style="width: 18rem;margin: auto;" th:if="${user.username ne #authentication.getPrincipal().getUsername()}">       

                <div sec:authorize="isAuthenticated()" class="card-body" th:if="${isFollowing eq false}">
                    <p class="card-text">Want to know more about this user?</p>
                    <!-- <a th:href="@{/hobbies/{hobby_id}/register (hobby_id=${hobby.id})}" class="btn btn-primary">Register Now!</a> -->
                    <form method="post" th:action="@{/follow/{user_id} (user_id=${user.id})}">
                        <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
                                        <input type="submit" name="login-submit" id="login-submit"
                                        class="form-control btn btn-primary" value="Follow" />
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>

                <div sec:authorize="isAuthenticated()" class="card-body" th:if="${isFollowing eq true}">
                    <p class="card-text">Not sure of this connection?</p>
                    <!-- <a th:href="@{/hobbies/{hobby_id}/unregister (hobby_id=${hobby.id})}" class="btn btn-primary">Unregister</a> -->
                    <form method="post" th:action="@{/unfollow/{user_id} (user_id=${user.id})}">
                        <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
                                        <input type="submit" name="login-submit" id="login-submit"
                                        class="form-control btn btn-primary" value="Unfollow" />
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
                
            </div>
          
            <div sec:authorize="isAuthenticated()"  class="card text-center" th:if="${user.username eq #authentication.getPrincipal().getUsername()}" style="width: 18rem;margin: auto;">
                <div class="card-body">
                    <p class="card-text jumbotron">Customise your profile for everyone to know you better</p>
                    <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
                                    <button type="button" class="click" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit profile</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div> 

            
        </div>

    


        <div class="tab-pane fade all" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">


            <div style="width: 90vw; display: flex; flex-direction: row; flex-wrap: wrap; margin: auto; ">


                <div th:each="hobby : ${hobbies}" class="card" style="width: 18rem; margin: 10px">
                    <img class="card-img-top" th:src="@{../img/{image_name}.png (image_name=${hobby.name})}" alt="Card image cap">
                    <div class="card-body">
                        <h5 th:text="${hobby.name}" class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a th:href="@{/hobbies/{hobby_id} (hobby_id=${hobby.id})}" class="click">Try this hobby</a>
                    </div>
                </div>


            </div>
            

        </div>


        <div class="tab-pane fade all" id="pills-connections" role="tabpanel" aria-labelledby="pills-contact-tab"
            style="display: flex;flex-direction: row;flex-wrap: wrap; width: 85vw; margin: auto; margin-top: 10vh;">

            <div th:each="connection : ${connections}">

                <div class="card mb-3 " style="margin: 10px; text-align: center; width: 20vw;">
                    <div class="card-body" style="margin: 5px;">
                        <div th:text="${connection.name}"> This is some text within a card body.</div>
                        <a th:href="@{/dashboard/{user_id} (user_id=${connection.id})}"><button type="button" class="click" style="margin: 3px;">Go to Profile</button></a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/dashboard/edit}" method="post" th:object="${user}">
                    <div class="modal-body">

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" th:field="${user.id}"  id="id" name="id"/>
                            <input type="hidden" th:field=${user.username} id="username" name="username" />
                            <input type="hidden" th:field=${user.myHobbies} id="myHobbies" name="myHobbies" />
                            <input type="hidden" th:field=${user.password} id="password" name="password" />
                            <input type="hidden" th:field=${user.connections} id="connections" name="connections" />

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" th:attr="value=${user.username}" th:field="*{username}" disabled>
                            </div>
                            
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name </label>
                                <input type="text" class="form-control" id="name" name="name" th:attr="value=${user.name}" th:field="*{name}" />
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Bio</label>
                                <textarea class="form-control" id="bio" name="bio" th:attr="value=${user.bio}" th:field="*{bio}"></textarea>
                            </div>
                            
            
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="click" data-dismiss="modal">Close</button>
                        <input type="submit" class="click" id="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<html>