<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/like.css}" rel="stylesheet" />
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <body>
        
        <div class="card-body">
            <h5 class="card-title">By: <span th:text="${post.userId}">Author Name</span></h5>
            <p th:utext="${post.text}" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est temporibus
                praesentium
                beatae voluptate ut obcaecati atque, ipsa amet dolorem natus excepturi a vel sit, corporis tenetur,
                officiis eaque animi.</p>
            <div th:inline="text" class="card-footer text-muted">
                [[${#dates.format(post.createdDate, 'MMM dd, yyyy h:mm a')}]]
            </div>
        </div> 

        <h2>Comments</h2>
        <form th:action="@{/hobbies/{hobbyId}/posts/{postId}/comment(hobbyId=${hobby.id}, postId=${post.id})}" method="post">
            <div class="form-group" style="margin-top:1.5em; ">
                <label for="text">Leave a Comment Below</label>
                <textarea class="form-control" th:field="${rootComment.text}" rows="2"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </form>
        <hr/>

        <div th:each="comment : ${comments}" >
            <div th:inline="text">
				<strong>[[${comment.userId}]]</strong>-[[${#dates.format(comment.createdDate, 'MMM dd, yyyy h:mm a')}]]
			</div>
            <span th:text="${comment.text}">Example Comment</span>
            <div>
				<button class="btn btn-link" th:id="|replyBtn-${comment.id}|" style="margin-left:2em">reply</button>
			</div>
            <div th:each="childComment : ${comment.replies}" >
                <div th:inline="text">
				    <strong>[[${childComment.userId}]]</strong>-[[${#dates.format(childComment.createdDate, 'MMM dd, yyyy h:mm a')}]]
                </div>
                <span th:text="${childComment.text}">Example Comment</span>
            </div>
			<form th:id="|replyForm-${comment.id}|" th:action="@{/hobbies/{hobbyId}/posts/{postId}/comment(hobbyId=${hobby.id}, postId=${post.id})}" method="post">
				<input type="hidden" name="parentId" th:id="|parentId-${comment.id}|" th:value="${comment.id}"/>
				<div>
					<label for="text">Reply Below</label>
					<textarea class="form-control" name="childCommentText" th:id="|childCommentText-${comment.id}|" rows="2"></textarea>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Reply</button>
				</div>
			</form>
			<hr/>
        </div> 
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            
        <script type="text/javascript" th:src="@{/js/like.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
                                
            var posts = /*[[${posts}]]*/;
            var hobbyId = /*[[${hobby.id}]]*/;
            console.log(posts);
            console.log(hobbyId);

            for(let i =0;i<posts.length;i++)
            {
                initLike(posts[i].id, hobbyId);
            }

            /*]]>*/
        </script>
    </body>

</html>