<html>
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>




    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" width="50" height="50" alt="">
        </a>
        <div>
            <button type="button" class="btn btn-primary">Log In</button>
            <button type="button" class="btn btn-primary">Sign Up</button>
        </div>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">The Hobby Lobby</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="yourHobbies.html">Your Hobbies</a>
        </li>

    </ul>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="hobbyLobby.html">Hobbies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hobby Page</li>
        </ol>
    </nav>

    <div class="card mb-3" style="width: 90vw; margin: auto;">
        <img class="card-img-top" src="img/hiking.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hobby Title</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nemo harum voluptate
                quibusdam debitis quasi, ullam unde at a itaque laudantium consectetur quas illum distinctio, eaque esse
                tempore dolores maxime!</p>
        </div>
    </div>


    <div class="card text-center" style="width: 18rem;margin: auto;">
        <div class="card-body">
            <p class="card-text">Get started to explore this magical world!</p>
            <a href="#" class="btn btn-primary">Register Now!</a>
        </div>
    </div>

    <div style="margin-top: 10vh;">
        <div class="card text-center" style="margin: auto;margin-top:2vh ;width: 80vw;">

            <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est temporibus
                    praesentium
                    beatae voluptate ut obcaecati atque, ipsa amet dolorem natus excepturi a vel sit, corporis tenetur,
                    officiis eaque animi.</p>
                <a href="#" class="btn btn-primary">Go to the post</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <div class="card text-center" style="margin: auto;margin-top:2vh ;width: 80vw;">

            <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est temporibus
                    praesentium
                    beatae voluptate ut obcaecati atque, ipsa amet dolorem natus excepturi a vel sit, corporis tenetur,
                    officiis eaque animi.</p>
                <a href="#" class="btn btn-primary">Go to the post</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <div class="card text-center" style="margin: auto;margin-top:2vh ;width: 80vw;">

            <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est temporibus
                    praesentium
                    beatae voluptate ut obcaecati atque, ipsa amet dolorem natus excepturi a vel sit, corporis tenetur,
                    officiis eaque animi.</p>
                <a href="#" class="btn btn-primary">Go to the post</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <div class="card text-center" style="margin: auto;margin-top:2vh ;width: 80vw;">

            <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est temporibus
                    praesentium
                    beatae voluptate ut obcaecati atque, ipsa amet dolorem natus excepturi a vel sit, corporis tenetur,
                    officiis eaque animi.</p>
                <a href="#" class="btn btn-primary">Go to the post</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <div class="card text-center" style="margin: auto;margin-top:2vh ;width: 80vw;">

            <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est temporibus
                    praesentium
                    beatae voluptate ut obcaecati atque, ipsa amet dolorem natus excepturi a vel sit, corporis tenetur,
                    officiis eaque animi.</p>
                <a href="#" class="btn btn-primary">Go to the post</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>