<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Register</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link th:href="@{/css/login.css}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar l-header navbar-light justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="../static/img/logo.png" th:src="@{img/logo.png}" width="50" height="50" alt="">
            </a>
            <div class="nav-menu" sec:authorize="isAnonymous()">
                <a class="nav-stuff" href="/" th:href="@{/}">Home</a>
                <a class="nav-stuff" href="/" th:href="@{/about}">About Us</a>
                <a class="nav-stuff" href="/" th:href="@{/hobbies}">The Hobby Lobby</a>
                <a class="nav-stuff" href="/" th:href="@{/login}" >Log In</a>
                <a class="nav-stuff" href="/" th:href="@{/register}" >Sign Up</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-stuff" href="/" th:href="@{/}">Home</a>
                <a class="nav-stuff" href="/" th:href="@{/about}">About Us</a>
                <a class="nav-stuff" href="/" th:href="@{/hobbies}">The Hobby Lobby</a>
                <a class="nav-stuff" href="/" th:href="@{/dashboard}" >Welcome, <span sec:authentication="name"></span></a>
                <a class="nav-stuff" href="/" th:href="@{/logout}">Log Out</a>
            </div>
        </nav>
        <!--<div class="container">
            <div class="left"></div>
            <div class="reg-middle">
                <br><br>
                    <h1 style="text-align: center; color: white;">Registration</h1>
                    <form th:action="@{/register}" th:object="${user}" method="post" >

                        <p class="error-message" style="color: white;" th:if="${#fields.hasGlobalErrors()}"
                        th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                        error</p>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                        th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                            <label for="name" class="control-label" style="color: white;">Name</label> <input
                            id="name" class="form-control" th:field="*{name}" required />
                            <p class="error-message" style="color: white;"
                            th:each="error: ${#fields.errors('name')}"
                            th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                            th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                            <label for="username" class="control-label" style="color: white;">Username</label> <input
                            id="username" class="form-control" th:oninput="'javascript:isUnique();'" th:field="*{username}" required />
                            <br>
                        </div>

                        <div class="alert alert-danger" style="width: 500px; text-align: center; left: 80px;" role="alert" id="username-alert" style="padding: 10px;display: none;">
                        This username already exists
                        </div>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                            th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <label for="password" class="control-label" style="color: white;">Password</label> <input
                            id="password" class="form-control" type="password" th:oninput="'javascript:matchPassword();'"
                            th:field="*{password}" required/>
                            <p class="error-message" style="color: white;"
                            th:each="error : ${#fields.errors('password')}"
                            th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                            th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <label for="password" class="control-label" style="color: white;">Confirm Password</label> <input
                            id="confirm-password" class="form-control" type="password" th:oninput="'javascript:matchConfirmPassword();'"
                            required/>
                            <br>
                        </div>

                        <div class="alert alert-danger" style="width: 500px; text-align: center; left: 80px;" role="alert" id="password-alert" style="padding: 10px;display: none;">
                        The two passwords do not match
                        </div>

                        

                        <div class="form-group">
                            <button type="submit" id="submit" class="btn btn-success">Register</button>
                            <span>Already registered? <a href="/" style="color: white;" th:href="@{/login}">Login
                                here</a></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/register.js}"></script>
    </body>
</html>-->

        <div class="container">
            <div class="left" ></div>
                <div class="reg-middle">

                    <br><br>
                    <h1 style="text-align: center; color: white;">Registration</h1>
                    <form th:action="@{/register}" th:object="${user}" method="post" >

                        <p class="error-message" style="color:white" th:if="${#fields.hasGlobalErrors()}"
                        th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                        error</p>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                        th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                            <label for="name" class="control-label" style="color:white;">Name</label> <input
                            id="name" class="form-control" th:field="*{name}" required />
                            <p class="error-message"
                            th:each="error: ${#fields.errors('name')}"
                            th:text="${error}">Validation error</p>
                            <br>
                        </div>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                            th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                            <label for="username" class="control-label" style="color: white;" >Username</label> <input
                            id="username" class="form-control" th:oninput="'javascript:isUnique();'" th:field="*{username}" required />
                            <br>
                        </div>

                        <div class="alert alert-danger" role="alert" id="username-alert" style="padding: 10px;display: none; width: 500px; text-align: center; left: 80px;">
                        This username already exists
                        </div>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                            th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <label for="password" class="control-label" style="color:white">Password</label> <input
                            id="password" class="form-control" type="password" th:oninput="'javascript:matchPassword();'"
                            th:field="*{password}" required/>
                            <p class="error-message"
                            th:each="error : ${#fields.errors('password')}"
                            th:text="${error}">Validation error</p>
                            <br>
                        </div>

                        <div class="form-group col-sm-10 col-sm-offset-3" style="margin: auto;"
                            th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <label for="password" class="control-label" style="color:white">Confirm Password</label> <input
                            id="confirm-password" class="form-control" type="password" th:oninput="'javascript:matchConfirmPassword();'"
                            required/>
                            <br>
                        </div>

                        <div class="alert alert-danger" role="alert" id="password-alert" style="padding: 10px;display: none; width: 500px; text-align: center; left: 80px;">
                        The two passwords do not match
                        <br>
                        </div>

                        

                        <div class="form-group bot">
                            <button type="submit" id="submit" class="click" style="text-align:center;">Register</button><br><br>
                            <span style="color:white">Already registered? <a class="reg" href="/" th:href="@{/login}">Login
                                here</a></span>
                        </div>

                    </form>
                </div>
                <div class="right"></div>
            </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/register.js}"></script>
    </body>
</html>