@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root{
    /*variables*/
    --header-height: 3em;
    --font-semi: 600;
    /*colors*/
    --first-color: /*#f78502;*/ #4070f4;
    --second-color: /*#c04207;*/ #0e2431;
    /*typo*/
    --body-font :'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem; 
}
/*body{
    font-family: var(--body-font);
}
.navbar{
    background: white;
}
.nav-heading{
    color: #9c9c9c;
}
.btn{
    background: white;
    color: #9c9c9c;
}
.nav-link{
    background: white;
    color: #9c9c9c;
    padding: 0px 20px;
}*/
body{
    background: #0e2431;
    font-family: var(--body-font);
}
.navbar{
    background: white;
}
.nav-heading{
    color: #9c9c9c;
}
.btn{
    background: white;
    color: #9c9c9c;
}
.nav-stuff{
    padding: 0px 15px;
    background: white;
    color: #9c9c9c;
    text-decoration: none;
}
.nav-link{
    padding: 0px 20px;
    background: white;
    color: #9c9c9c;
    text-decoration: none;
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
.banner{
    text-align: right;
    width: 100%;
    top: 50px;
}
.l-header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.click{
    cursor: pointer;
    background-color: white;
    padding: 6px;
    border: 2px solid black;
    border-radius: 0px;
    color: black;
}
.click2{
    cursor: pointer;
    background-color: #0e2431;
    padding: 6px;
    border: 4px solid white;
    color: white;
}
.container{
    background: #0e2431;
}
.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-button.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button svg {
  opacity: 1;
}
.like-button svg path {
    cursor: pointer;
    fill: white;
    transition: fill .4s ease-out;
}
.like-button.active svg path {   
  cursor: pointer;  
  fill: #2196f3;
 }
a:hover{
    text-decoration: none;
    color: #4e4c4c;
}
.click:hover{
    text-decoration: none;
    color: white;
    background: #0e2431;
}
.click2:hover{
    text-decoration: none;
    background: #0e2431;
    border: 4px solid #40b3c7;
    color: #40b3c7;
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} 